//variable

$c-w : #fff;
$c-wb : #f7f8f9;
$c-line : #f2f2f2;
$c-g : #ddd;
$c-9 : #999;
$c-6 : #666;
$c-4 : #444;
$c-3 : #333;
$c-2 : #222;
$c-b : #000;
$c-main : #bbbb54;

$c-p01: linear-gradient(60deg, #5460f9 0%, #004ea1 70%, #5c7a9b 100%);
$c-p02: #94bfff linear-gradient(45deg, #94bfff 0%, #aeaff2 70%, #94bfff 100%);
$c-p03: #2a4983 linear-gradient(90deg, #0e1c26 0%, #2a4983 50%, #2a454b 100%);
$c-p04: linear-gradient(80deg, #f9675d 0%, #ff970f 50%, #fa6600 100%);
$c-p05: linear-gradient(80deg, #7a59d3 0%, #572a96 30%, #ccb3d1 100%);
$c-p06: linear-gradient(-60deg, #ff6868 0%, #ed1b23 100%);


$c-m01: #00478f;
$c-m02: #94bfff;
$c-m03: #2a4983;
$c-m04: #fa6600;
$c-m05: #572a96;
$c-m06: #ed1b23;

$max : 1440px;